body {
  background-color: rgb(15, 24, 58) ;
}
#space {  
  display: flex;
  justify-content: center;
  position: relative;
  margin: 10em auto;
  width: 50em;
  height: 20em;
}
#space_helmet {
  position: absolute;
  height: 10em;
  width: 10em;
  left: 44%;
  top: -20%;
  background-color: rgba(225, 225, 225, 0.4);
  border-radius: 100%;
  z-index: 3;
}
#space_helmet--1 {
  position: absolute;
  width: 3em;
  height: 5em;
  left: 40%;
  top: 8%;
  border: solid 3px white;
  border-color: #fff transparent transparent transparent;
  border-radius: 80%/30px 30px 0 0;
  transform: rotate(30deg);
}
#space_helmet--2 {
  position: absolute;
  width: 0.25em;
  height: 0.25em;
  top: 24%;
  left: 79%;
  background-color: white;
  border-radius: 100%;
}
.giraffe {
  position: absolute;
  background-color: rgb(228, 185, 143);
}
.head {
  margin-left: 0.75em;
  height: 2.75em;
  width: 5em;
  border-bottom-right-radius: 10em;
}
.horn {
  width: .4em;
  height: 1em;
  top: -36%;
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}
.horn--2 {
  width: 0.6em;
  height: 0.6em;
  top: -56%;
  left: -2%;
  border-radius: 100%;
}
.ear {
  width: 2em;
  height: 2em;
  top: -50%;
  left: -40%;
  border-radius: 10% 100%;
  transform: rotate(5deg);
}
.ear--2 {
  position: absolute;
  width: 55%;
  height: 55%;
  top: 20%;
  left: 15%;
  border-radius: 10% 100%;
  background-color: peru;
}
.neck {
  height: 12em;
  width: 3em;
  background-color: rgb(228, 185, 143);
  -webkit-clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
}
.giraffe--dot {
  position: absolute;
  background-color: rgb(99 ,69, 51);
  border-radius: 100%;
  z-index: 1;
}
.dot--med {
  width: 0.75em;
  height: 0.75em;
}
.dot--sml {
  width: 0.28em;
  height: 0.28em;
}
.dot--lrg {
  width: 1em;
  height: 1em;
}
.dot--1 {
  top: 40%;
  left: 10%;
}
.dot--2 {
  top: 28%;
  left: 70%;
}
.dot--3 {
  top: 50%;
  left: 40%;
}
.dot--4 {
  top: 65%;
  left: 15%;
}
.dot--5 {
  top: 80%;
  left: 50%;
}
.dot--6 {
  top: 90%;
  left: 15%;
}
.giraffe--face {
  position: absolute;
  background-color: black;
  z-index: 1;
}
.nose {
  width: 0.5em;
  height: 0.5em;
  left: 90%;
  border-bottom-right-radius: 10em;
}
.eye {
  width: 0.25em;
  height: 0.25em;
  left: 30%;
  top: 15%;
  border-radius: 100%;
}
